<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/glider.min.css" />
    <script src="/js/glider.min.js"></script>
    <link rel="stylesheet" href="../css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <main class="main">
      <%- include('components/header.ejs') %>

      <section class="main-about">
        <div id="nav-about" class="about">
          <h1>ABOUT US</h1>
          <p>
            The occupational traffic permit is one of the most<br /><br />
            important things in the company when carrying out<br /><br />
            freight transport. In fact, it is a prerequisite for doing<br /><br />
            business traffic at all.<br /><br />
          </p>
        </div>
        <div>
          <img src="../img/Illustration.png" alt="" id="img-about" />
        </div>
      </section>
      <div id="border">
        <div class="border-box">
          <strong>
            <p>
              How do you do when you need to obtain<br />
              a commercial traffic permit for freight<br />
              transport to your business?
            </p>
          </strong>
        </div>
      </div>
      <div class="apply-container">
        <img src="../img/illustrations.png" alt="" id="img-apply" />
        <div>
          <h1>HOW TO APPLY</h1>
          <p>
            When applying for a traffic permit, there are certain <br /><br />
            requirements that you must meet that are included in<br /><br />
            the examination: requirements for professional<br /><br />
            knowledge, solid establishment, good reputation and<br /><br />
            financial resources. Important to remember is to confirm<br /><br />
            your application for a traffic permit by the company's<br /><br />
            company signer or CEO.
          </p>
        </div>
      </div>
      <div id="faq">
        <div id="faq-div">
          <h1>FAQ</h1>
          <h2>
            Questions and Answers<br />
            on Professional Traffic<br />
            Permits:
          </h2>
        </div>
        <img src="../img/Group 14.png" alt="" id="img-faq" />
      </div>
      <div class="details">
        <div>
          <details>
            <summary>What is a professional traffic permit?</summary>
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </details>
          <details>
            <summary>What is a professional traffic permit?</summary>
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </details>
          <details>
            <summary>What is a professional traffic permit?</summary>
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </details>
        </div>
        <div>
          <details>
            <summary>What is a professional traffic permit?</summary>
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </details>
          <details>
            <summary>What is a professional traffic permit?</summary>
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </details>
          <details class="details1">
            <summary>What is a professional traffic permit?</summary>
            <p>
              Traffic permits are a requirement for conducting professional
              traffic.
            </p>
          </details>
          <a href="" class="load">LOAD MORE</a>
        </div>
      </div>
      <div class="carrossel">
        <div class="carrossel-text">
          <h1>ABOUT US</h1>
          <P
            >Out Awesome<br />
            Clients</P
          >
        </div>
        <div class="slider">
          <div class="controls-slider">
            <button id="g-prev" class="glider-prev">
              <img src="/img/arrow-l.svg" alt="prev slider" />
            </button>
            <button id="g-next" class="glider-next">
              <img src="/img/arrow-r.svg" alt="next slider" />
            </button>
          </div>
          <div class="glider">
            <div class="card">
              <p>Yes, you will need to have the land owner
              sign the permit application as the Permittee,
              and you sign the permit as the Applicant or
              Agent for the Permittee.</p>
              <div class="card-client">
                <img src="/img/Ellipse9.png" alt="" id="mark" />
                <span>Isak Pettersson</span>
              </div>
            </div>
            <div class="card">
              <p>From most barricade or traffic control
              companies located in the phone book. They
              employ certified Traffic Control Supervisors
              (TCS) who can generate and certify the
              traffic control plan.</p>
              <div class="card-client">
                <img src="/img/Ellipse8.png" alt="" id="simon-sandberg" />
                <span>Simon Sandberg</span>
              </div>
            </div>
            <div class="card">
              <p>Meu professor Vini é o maior bebedor de café do mundo da programação!!!</p>
              <div class="card-client">
                <img src="/img/Ellipse7.png" alt="" id="simon-sandberg" />
                <span>Leandro Piassetta</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%-include('components/footer.ejs') %>
    <script>
      new Glider(document.querySelector(".glider"), {
        slidesToScroll: 1,
        slidesToShow: 2.1,
        draggable: true,
        arrows: {
          prev: ".glider-prev",
          next: ".glider-next",
        },
      });
    </script>
        </div>
      </div>
    </main>
    <%-include('components/footer.ejs') %>
  </body>
</html>
