* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto&family=Rubik:ital@0;1&display=swap');

.container { 
  background-image: url('../img/Scene.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.trafico { 
  margin-left: 50px; 
  margin-top: 20px; 
} 

#lista-menu {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-left: 645px; 
  margin-top: -40px;
}

.menu {
  text-decoration: none;
}

#button-menu {
  text-decoration: none;
}

#title-header {
  position: absolute;
  font-family: DM Serif Display;
  bottom: 320px;
  left: 300px;
  font-size: 30px;
  color: #FFFFFF;
}

#caminhao {
  position: absolute;
  margin-top: 567px;
  width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-about {
  display: flex;
  gap:100px;
  margin-top: 200px;
}

.main-about h1 {
  color: #EE4D47;
  font-family: sans-serif, 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.about {
  margin-left: auto;
}

.about p {
  margin-top: 25px;
  margin-left: 0px;
  margin-bottom: -100px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size:15px;
  line-height: 10px;
  color: #402B2B;
}

#img-about {
  margin-top: -80px;
  margin-right: 80px;
  width: 400px;
}

.border-box {
  margin-right: 530px;
  margin-top: -100px;
  margin-left: -45px;
  line-height: 30px;
  padding: 20px 20px;
  border-radius: 5px;
  text-align: left;
  color: #402B2B;
  font-weight: bold;
  border-left:10px solid red; 
}

#img-apply {
  width: 500px;
  margin-top: -140px;
}

.apply-container {
  display: flex;
  margin-top: 170px;
  margin-right: 240px;
  font-family: sans-serif, 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 10px;  
  color: #EE4D47;
  gap:50px;
}

.apply-container p {
  margin-top: 45px;
  font-style: normal;
  font-family: 'Rubik';
  font-weight: 300;
  font-size:15px;
  line-height: 10px;
  color: #402B2B;
}

#faq {
  margin-top: 20px;
  margin-bottom: 10px;
  display:flex;
  justify-content: space-around;
}

#faq-div {
  margin-top: 92px;
}

#faq h1 {
  color: #EE4D47;
  font-family: sans-serif, 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: -10px;
}

#faq h2 {
  margin-top: 20px;
  font-size: 35px;
}

#img-faq {
  width: 500px;
  margin-bottom: 40px;
}

.details {
  display: flex;
}

.btn-faq  {
    display: block;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    border: none;
    background: rgba(237, 77, 71, 0.2);
    color: #ed4d47;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.wrap-collabsible {
  margin: 10px 0;
}

.lbl-toggle {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  text-align: left;
  padding: 25px 35px;
  color: #402b2b;
  background: #fff;
  box-shadow: 0 20px 40px rgba(238, 77, 71, 0.1);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.25s ease-out;
}

.lbl-toggle::after {
  content: "+";
  font-size: 2em;
  margin-left: auto;
  padding-left: 10px;
  color: #ed4d47;

}

.toggle:checked + .lbl-toggle::after {
  content: "-";
  font-size: 2em;
  color: #ed4d47;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #fff7f5;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 40px 35px;
}

.slider {
  width: 800px;
  padding-top: 60px;
}

.glider {
  overflow: hidden;
}

#g-next,
#g-prev {
  position: inherit;
  color: #ee4d47;
  margin-right: 10px;
}

.controls-slider {
  display: flex;
  justify-content: flex-end;
}

.card {
  width: 420px;
  background: #fff;
  border-radius: 10px;
  margin: 30px 10px;
}

.card p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  line-height: 30px;
  padding: 60px 52px 60px 48px;
}

.card-client {
  display: flex;
  align-items: center;
  padding: 0 0 40px 48px;
}

.card-client span {
  margin-left: 20px;
}

#carrossel-text h1 {
  color: #EE4D47;
  font-family: sans-serif, 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.footer-form {
  display: block;
  position: absolute;
  right: 95px;
  top: -100px;
  border-radius: 10px;
  background: #fff;
  width: 550px;
  padding: 50px 75px 40px;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  z-index: 10;
}

.footer-content {
  background-image: url("/img/BG.png");
  height: 660px;
  position: relative;
  background-repeat: no-repeat;
}

.footer-flex {
  display: flex;
  position: relative;
  width: 1120px;
  margin: 0 auto;
}

.footer-msg {
  margin-top: 100px;
  width: 380px;
  color: white;
  border-left: 10px solid #ed4d47;
  padding: 17.5px 0;
}

.footer-form label {
  display: block;
  margin-bottom: 20px;
}

.footer-form input,
textarea {
  border: 1px solid rgba(238, 77, 71, 0.5);
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  /* padding: 180px 40px; */
  margin-bottom: 40px;
}

.footer-form input::placeholder,
textarea::placeholder {
  font-size: 18px;
  font-weight: 300;
}

.footer-form input:focus-within,
textarea:focus-within {
  border: 2px solid #ee4d47;
}

.btn-banner {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: #ee4d47;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btn-banner:hover {
  background: linear-gradient(rgb(238, 77, 71) 0%, rgb(64, 43, 43) 50%);
}

.btn-banner svg {
  width: 29.5px;
  height: 12.35px;
  margin-left: 24px;
}

.footer-img {
  width: 380px;
  height: 200px;
  display: block;
  margin-bottom: -26px;
  z-index: 2;
  position: relative;
}

.footer-nav {
  position: absolute;
  bottom: 30px;
  left: 10%;
}
