<footer id="footer">
  <div id="form">
    <form method="POST" action="/saveUser"></form>
  </div>
  <img src="../img/Group 35.png" alt="" id="truck-footer" />
  <div id="footer-filho"></div>
</footer>
